.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.text {
    color: black;
}